md-fab-toolbar .md-fab-toolbar-wrapper {
  height: auto;
}

md-icon.fa {
  font-size: 1.4em;
  line-height: 24px;
}

body, html {
  color: #EEE;
  background-color: #222;
}

.monospace {
  font-family: monospace;
}

a {
  color: rgb(21, 101, 192);
}

#button-overlay {
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
}

#fab {
  width: 100%;
}

#speedDial {
  position: absolute;
  top: 65px;
  right: 0;
}

#npm {
  position: absolute;
  top: 130px;
  right: 0;
}

.console, .input {
  padding: 5px;
}

.console {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 72px;
  padding-bottom: 5px;
}

.console pre {
  margin-bottom: 0;
  margin-top: 0;
}

.input {
  color: #EEE;
  margin: 0;
  height: 26px;
  padding: 5px 7px;
}

.input > input {
  background-color: transparent;
  color: #FFF;
  border: 0;
  outline: 0;
  margin-left: 5px;
  font-family: monospace;
  height: 20px;
  line-height: 20px;
}

.input > label {
  padding: 0;
  height: 20px;
  line-height: 20px;
}

md-tabs-wrapper {
  -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 1);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 1);
  z-index: 2;
}

md-tabs-content-wrapper {
  z-index: 1;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre.error,
pre.default {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #666;
}

pre.command {
  padding: 5px 7px;
  color: #AAA;
}

pre.error {
  border-color: rgb(244, 67, 54);
  color: rgb(244, 67, 54);
}

::-webkit-scrollbar {
  width: 6px;
  padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #777;
}