<md-dialog aria-label="Git" md-theme="github" style="width: 90%; height: 90%; max-width: 800px; max-height: 800px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="fa fa-github" style="margin-right: 25px;"></md-icon>
            <h2 style="margin-top: 5px;">
                Git
            </h2>
            <span flex></span>

            <md-input-container style="padding: 0;">
                <md-select ng-model="tab.git.branch" placeholder="branch">
                    <md-option ng-repeat="branch in tab.git.branches" ng-value="branch">
                        {{branch.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout="row">
        <md-tabs md-border-bottom md-autoselect flex md-selected="tab.git.selectedIndex">

            <!-- COMMIT -->
            <md-tab>
                <md-tab-label>
                    commit
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">

                        <form name="gitCommit">
                            <md-input-container class="md-block md-input-invalid">
                                <label>Commit message</label>
                                <textarea required ng-model="tab.git.commitMessage" rows="2"
                                          md-maxlength="150" name="message" md-autofocus></textarea>
                                <div ng-messages="gitCommit.message.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Create Tag</label>
                                <input ng-model="tab.git.newTag"/>
                            </md-input-container>
                        </form>

                    </md-content>
                </md-tab-body>
            </md-tab>

            <!-- CHANGES -->
            <md-tab>
                <md-tab-label>
                    changes <span class="label" ng-show="tab.git.changes.length">{{tab.git.changes.length || 0}}</span>
                </md-tab-label>
                <md-tab-body class="md-padding">
                    <md-list>
                        <md-list-item ng-repeat-start="match in tab.git.changes">
                            <p> {{ match }} </p>
                        </md-list-item>
                        <md-divider ng-repeat-end>
                    </md-list>
                </md-tab-body>
            </md-tab>

            <!-- UNRESOLVED -->
            <md-tab>
                <md-tab-label>
                    unversioned <span class="label" ng-show="tab.git.unversioned.length">{{tab.git.unversioned.length || 0}}</span>
                </md-tab-label>
                <md-tab-body class="md-padding">
                    <md-list>
                        <md-list-item ng-repeat-start="match in tab.git.unversioned" ng-click="lol()">
                            <p> {{ match }} </p>
                            <md-icon class="fa fa-plus" aria-label="add"
                                     ng-click="$root.execute('git add ' + match, tab)"></md-icon>
                        </md-list-item>
                        <md-divider ng-repeat-end>
                    </md-list>
                </md-tab-body>
            </md-tab>

            <!-- HISTORY -->
            <md-tab>
                <md-tab-label>
                    history
                </md-tab-label>
                <md-tab-body test-attr>
                    <md-content class="" ng-if="tab.git.history"
                    ">
                    <table>
                        <thead>
                        <tr>
                            <td>message</td>
                            <td>author</td>
                            <td>date</td>
                            <td>hash</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="match in tab.git.history">
                            <td>{{match.message}}</td>
                            <td>{{match.author}}</td>
                            <td>{{match.date}}</td>
                            <td>{{match.hash}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </md-content>
                    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!tab.git.history">
                        <md-progress-circular md-mode="indeterminate" style="margin: 50px;"></md-progress-circular>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            cancel
        </md-button>
        <span flex></span>
        <div ng-show="!tab.git.loading && tab.git.selectedIndex === 0">
            <md-button ng-click="commit()">
                Commit
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Commit & Push
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>